/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

/* li a:hover:not(.active) {
  background-color: #111;
} */

*{
    box-sizing:border-box;
    overflow-x:hidden;
}
body {
    background-image: url('climate change.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #333333;
    margin-top: 5rem;
    text-align:center;
    /* margin-top: -5px; */
    
  
}


h1, h2, h3, h4, h5, h6, p, label{
    color: #fff;
/*     font-family:"Muslih" , sans-serif; */
    font-family:'Source Serif Pro', serif;
    line-height: 1.6;
}

a.nav-item.nav-link, a.navbar-brand.mr-4 {
/*     font-family: "Muslih"; */
    font-family:'Source Serif Pro', serif;

}

section{
    overflow:hidden;
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.5em;
}
img, svg {
    vertical-align: middle;
    width: 100%
}
.container{
     width: 100%;   
     height: auto;
     overflow-y:hidden;
/*      padding-top: 5%; */
}


/* Login/ register page stuff 
 =====================
*/
@media (min-width: 57em) {
    #circle {
        width: 100%;
        height: 760px;
    }
    
}
.body{
    padding:20%;
}


label.form-control-label {
    font-family: "Muslih";
    font-size: 1.8em;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0% 30% 0% 15%;
    border: 0;
}

form {
    margin: 5% 0% 20% 11%;
}

form#login-form {
    margin: 30% 0% 20% 11%;
}

input.form-control {
    margin-top: 2em;
}

h1#register-header{
    position: relative;
}
#circle {
  width: 100%;
  height: 50em;
  background: #3C675F;
  border-radius: 50%;
  text-align: center;
  color:white;
}




/* Header stuff 
 ==================
*/
.bg-steel {
   background-color: rgba(0,0,0,0.5); 
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  font-family:'Source Serif Pro', serif;
    
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;
}