{% extends "layout.html" %} {% block content %} <title> {{title}}</title>
<h2>{{ subtitle }}</h2>
<p>{{ text }}</p>
<h2 class="text-center">Blog</h2>
<form method="POST" action="" >
    {{ form.hidden_tag() }}
    {{ form.title.label(class="form-control-label") }}
    {{ form.title(class="form-control form-control-lg") }}
    {{ form.content.label(class="form-control-label") }}
    {{ form.content(class="form-control form-control-lg", rows='5') }}
    
        {{ form.submit(class="btn btn-outline-info") }}
   
</form> {% endblock content %}