
{% extends "layout.html" %}
{% block content %}
<div class="cont">
    <title>Login</title>
    <div class="body">
    
        <div id="circle">
            <form method="POST" action="" id="login-form">
            {{ form.hidden_tag() }}
            <div class="col-md-6 offset-md-2">
            <h1>Login</h1>
            {{ form.username.label(class="form-control-label") }} 
            
     {% if form.username.errors %}
       {{ form.username(class="form-control form-control-lg is-invalid ") }}
       <div class="invalid-feedback">
         {% for error in form.username.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
   {% else %}
       {{ form.username(class="form-control form-control-lg") }}
   {% endif %}</div>
   <div class="col-md-6 offset-md-2">
           {{ form.password.label(class="form-control-label") }}
         {% if form.password.errors %}
           {{ form.password(class="form-control form-control-lg is-invalid") }}
           <div class="invalid-feedback">
             {% for error in form.password.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.password(class="form-control form-control-lg") }}
       {% endif %}
       {{ form.submit(class="button") }}
       </div>
 </form>
        </div>
       
    </div>
</div>
{% endblock content %}
