{% extends "layout.html" %}
{% block content %} 
    <title> Post </title>
    <h2>{{ subtitle }}</h2>
    <p>{{ text }}</p> 
{% for post in posts %} 
<article class="media content-section">
    <div class="media-body">
     <div class="article-metadata">
        {{ post.author.username }}
        <small class="text-muted">{{ post.date_posted.strftime('%M-%d-%y') }}</small>
        </div>
        <h2><a class="article-title" href='{{ url_for('post', id=post.id) }}'> {{ post.title}}</a> </h2>

        <p class="article-content">{{post.content}}</p>
        </div>
   </article>
{% endfor %} 
{% endblock content %}