{% extends "layout.html" %} {% block content %} <div class='content-section col-md-6 offset-md-3'>
    <title>Suggestions</title>
    <h1>Get Personalized Suggestions!</h1>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        <fieldset class='form-group'>
            <div class="form-group">
                {{ form.suggestion.label(class="form-select-label") }} 
                {% if form.suggestion.errors %} {{ form.suggestion(class="form-select form-select-lg is-invalid") }}
                <div class="invalid-feedback"> {% for error in form.suggestion.errors%} <span>{{error}}</span> {% endfor %} </div> {% else %} {{ form.suggestion(class="form-select form-select-lg") }} {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-light mt-4") }}
        </div>
    </form>
</div> {% endblock content %}