{% extends "layout.html" %} {% block content %}
<h1>Team Members</h1>
<div class="row justify-content-evenly"  style="position: relative;"> 
    <div class="col-sm-6 col-lg-4 mb-4" >
        <div class="card post-bg3 text-center p-3">
            <figure class="mb-0">
               <h2>Melisa</h2>
                <p class='text-center'> Role: Full Stack </br>
                    College: Vassar College </br>
                    Major: Computer Science and Latin American / Latino Studies </br>
    Email: melisac1101@gmail.com
</p>
            </figure>
        </div>
      </div>
<div class='col-4'> 
    
      <div class="card post-bg3 text-center p-3">
            <figure class="mb-0">
               <h2>Cristina</h2>
                <p class='text-center'>Role: Full Stack </br>
                College: Johns Hopkins University </br>
        Major: Materials Science Engineering & Computer Science </br> Email: cdejong2@jhu.edu</p>

            </figure>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 mb-4" >
      <div class="card post-bg3 text-center p-3">
            <figure class="mb-0">
               <h2>Boston</h2>
                <p class='text-center'>Role: Full Stack </br>
College: Metropolitan State University </br>
Major: Computer Science </br>
Email: mwansa.puta.7@gmail.com </br>

</br>
</p>
            </figure>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" >
      <div class="card post-bg3 text-center p-3">
            <figure class="mb-0">
               <h2>Melanie</h2>
                <p class='text-center'>Role: Full Stack </br>
College: Ohio Wesleyan University </br>
Major: CS and Neuroscience </br>
Email: mmjimenez@owu.edu</br></br>
</p>
            </figure>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" >
      <div class="card post-bg3 text-center p-3">
            <figure class="mb-0">
               <h2>Eduardo</h2>
                <p class='text-center'>Role: Full Stack </br>
College: University of North Carolina at Charlotte </br>
Major: Computer Science & Japanese </br>
Email: egomez4@uncc.edu
</p>
            </figure>
        </div>
    
    </div></div>
{% endblock content %}